app:
  server-url: http://localhost:8080

spring:
  application:
    name: ai-personal-finance

  profiles:
    active: dev

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${app.server-url}/api/public/user/login/oauth2/google
            scope:
              - email
              - profile

  jpa:
    open-in-view: false

---
# Dev Profile (H2 In-Memory Database)
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

---
# Prod Profile (MySQL - Naver Cloud)
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

jwt:
  issuer: https://github.com/jhg507677
  admin_secret: secretAdmin123secretAdmin123secretAdmin123secretAdmin12
  user_secret: secretUser123secretUser123secretUser123secretUser12
  access_expire_time: 18000
  refresh_expire_time: 1800000